@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
    min-height: 100vh;
    width:100vw;
    overflow-x: hidden;
}

.anime {
    border : none ;
    position : relative;
}
.anime:hover{
    border:none;
}

.anime::after{
    content: " ";
    position: absolute ;
    width: 0px;
    height: 3px;
    left: 50%;
    bottom : -5px;
    background-color:#1182c5 ;
    transition: all ease-out .3s;
}

.anime:hover::after{
    width:100%;
    left:0%;

}

.blue-gradient{
    background: rgb(8,156,244);
    background: linear-gradient(68deg, rgba(8,156,244,1) 44%, rgba(100,202,249,1) 100%);  
}

.open-anime{
    animation-name: open;
    animation-duration: 0.7s;
}

@keyframes open {
    0% {right: -100%}
    100% {right: 5px }
}

.close-anime{
    animation-name : close ;
    animation-duration: .6s;
}

@keyframes close{
    0% {right: 5px}
    100% {right: -100%}
}

.scale-anime{
    animation-name: scaling;
    animation-duration: 1s;
}
.order-anime{
    animation-name: scaling;
    animation-duration: 0.5s;
}

@keyframes scaling{
    0% {scale: 0.5}
    100% {scale: 1}
}

.fade-anime{
    animation-name: fading;
    animation-duration: 1.5s;
}

@keyframes fading{
    0% {opacity: 0}
    
    100% {opacity: 100}

}


